.navbarContainer {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #1184dd;
  height: 50px;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
}
