/* ================= GLOBAL ================= */
* {
  font-family: "Roboto", sans-serif;
}

/* ================= LAYOUT ================= */
.headerlinksContainer,
.navbarlinksContainer,
.leftSection,
.rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerlinksContainer {
  justify-content: space-between;
}

.navbarlinksContainer {
  justify-content: space-evenly;
  width: 100vw;
}

.leftSection {
  justify-content: flex-start;
}
.rightSection {
  justify-content: flex-end;
}

.leftSection {
  width: 60%;
}

.rightSection {
  width: 40%;
}

/* ================= NAV LINKS ================= */
.navlink {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 15px 20px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* Header nav links */
.headerlinksContainer .navlink {
  flex-direction: column;
  justify-content: space-between;
  color: black;
  padding: 5px 50px 5px 5px;
}

/* Navbar links */
.navbarlinksContainer .navlink {
  color: white;
}

.rightSection .navlink {
  margin-right: 50px;
}

/* ================= ICONS ================= */
.icon {
  margin-bottom: 5px;
}

.navbarlinksContainer .icon {
  margin-inline: 15px;
}

.languageIcon {
  font-size: larger;
}

/* ================= DROPDOWN ================= */
.dropdownContainer {
  position: relative;
}

.dropdownmenu {
  position: absolute;
  z-index: 1;
  min-width: 180px;
  margin-top: 1px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 8px 16px rgba(161, 148, 247, 0.2);
  display: none;
}

/* Show dropdown on hover */
.dropdownContainer:hover .dropdownmenu {
  display: block;
}
.dropdownContainer:hover .dropdownmenu {
  display: block;
  border: 1px solid rgb(186, 223, 223);
  border-top: none;
}
.rightSection .dropdownmenu {
  max-width: 200px;
  left: 10px;
}

/* Dropdown links */
.dropdownmenu a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: rgb(80, 80, 87);
  border-bottom: 1px solid rgb(245, 241, 241);
  cursor: pointer;
}

.dropdownmenu a:hover {
  background-color: #ebf9fd;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .leftSection .navlink,
  .rightSection .navlink {
    display: none;
  }
}
